@media (max-width: 1200px) {
    header{
        padding: 10px 50px;
    }

    header .logo img{
        width: 24px;
        height: 40px;
    }

    header .logo .logo-text{
        font-size: 35px;     
    }

    header .header-links a{
        font-size: 17px;
    }

    footer{
        padding: 20px 50px;
    }

    .pre-footer{
        padding: 40px 50px;
        justify-content: space-between;
    }

    .pre-footer .logo-social {
        margin-right: 10px;
        margin-left: 10px;
    }

    .pre-footer .logo-social .footer-logo{
        margin-bottom: 15px;
    }

    .pre-footer .logo-social .footer-logo .footer-logo-image{
        margin-right: 10px;
    }

    .pre-footer .logo-social .footer-logo .footer-logo-image img{
        height: 70px;
    }

    .pre-footer .logo-social .footer-logo .footer-logo-text{
        font-size: 32px;
    }

    .pre-footer .logo-social .footer-social .footer-social-wrapper{
        margin-right: 7px;
        padding: 4px 7px;
    } 
    
    .pre-footer .logo-social .footer-social .footer-social-wrapper .iconify{
        font-size: 15px;
    }

    .pre-footer .footer-links {
        justify-content: space-between;
    }
    
    .pre-footer .footer-links .link-wrapper{
        margin-bottom: 10px;
        margin-right: 50px;
    } 

    .pre-footer .footer-links .link-wrapper .title{
        font-size: 18px;
    }
    .pre-footer .footer-links .link-wrapper .footer-link{
        font-size: 14px;
    }

    .pre-footer .footer-links .link-wrapper .footer-link2{
        margin-bottom: 18px;
    }

    .landing-wrapper .content-section{
        padding: 70px 50px;
    }

    .landing-wrapper .content-section .title{
        font-size: 32px;
        margin-bottom: 32px;
    }

    .landing-wrapper .content-section .content-btn {
        margin-bottom: 64px;
    }
    
    .landing-wrapper .content-section .content-btn .btn{
        border-radius: 50px !important;
        font-size: 10px !important;
        padding: 11px 24px !important;
    }
    
    .landing-wrapper .content-section .content-body img{
        margin-right: 20px;
        height: 400px;
    }
    
    .landing-wrapper .content-section .content-body .content-body-text .content-body-text-title{
        font-size: 18px;
        margin-bottom: 22px;
    }
    
    .landing-wrapper .content-section .content-body .content-body-text .contentAboutus{
        margin-right: 24px;
    }

    .landing-wrapper .content-section .content-body .content-body-text .content-body-text-list{
        margin-bottom: 24px;
    }

    .landing-wrapper .content-section .content-body .content-body-text .contentAboutus .contentAboutUsText{
        font-size: 18px;
        margin-bottom: 56px;
    }

    .landing-wrapper .content-section .content-body .content-body-text .contentAboutus .abt-btn-section .abt-btn{
        font-size: 15px !important;
        padding: 0px 30px !important;
    }

    .landing-wrapper .content-section .content-body .content-body-text .content-body-text-list .content-body-text-numbering{
        margin-right: 15px;
        font-size: 15px;
        padding: 2px 9px;
    }

    .landing-wrapper .content-section .content-body .content-body-text .content-body-text-list .content-body-text-header{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .landing-wrapper .content-section .content-body .content-body-text .content-body-text-list .content-body-text-body{
        font-size: 14px;
    }

    .landing-wrapper .blog-section{
        padding: 60px 50px;
    }   
    
    .landing-wrapper .blog-section .blog-header{
        font-size: 32px;
    }

    .blog-wrapper img{
        width: 218px;
        height: 313px;
        margin-right: 11px;
        margin-left: 11px;
    }

    .blog-wrapper a{
        font-size: 18px;
    }

    .landing-wrapper .blog-section .blog-btn .blogbtn{
        font-size: 18px;
        padding: 8px 40px;
    }

    .landing-wrapper .contact-section{
        padding: 50px;
    }

    .landing-wrapper .contact-section .contact-header{
        font-size: 32px;
        margin-bottom: 51px;
    }

    .landing-wrapper .contact-section .form-image-wrapper .form-section .input-group-wrapper input,
    .landing-wrapper .contact-section .form-image-wrapper .form-section .input-group-wrapper textarea{
        font-size: 14px !important;
    }

    .landing-wrapper .contact-section .form-image-wrapper .form-section .input-group-wrapper input::placeholder,
    .landing-wrapper .contact-section .form-image-wrapper .form-section .input-group-wrapper textarea::placeholder{
        font-size: 14px !important;
    }

    .landing-wrapper .contact-section .form-image-wrapper .form-section .input-group-wrapper button{
        padding: 10px 40px;
        font-size: 18px;
    }

    .landing-wrapper .info-section {
        padding: 55px 50px;
    }

    .landing-wrapper .info-section .info-section-item .info-item-header .info-icon .iconify{
        font-size: 25px;
    }

    .landing-wrapper .info-section .info-section-item .info-item-header .title{
        font-size: 16px;
    }

    
    .landing-wrapper .info-section .info-section-item .info-item-body{
        font-size: 14px;
    }

    .landing-wrapper .app-info{
        padding: 50px 50px;
    }

    .landing-wrapper .app-info .title{
        font-size: 32px;
        margin-bottom: 53px;
    }

    .landing-wrapper .app-info .app-info-content-wrapper{
        padding: 56px 38px;
        min-height: 438px;
    }

    .landing-wrapper .app-info .app-info-content-wrapper .app-info-details .detail-header{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .landing-wrapper .app-info .app-info-content-wrapper .app-info-details .detail-body{
        font-size: 20px;
        margin-bottom: 27px;
    }

    .landing-wrapper .app-info .app-info-content-wrapper .app-info-details a{
        font-size: 16px;
    }

    .landing-wrapper .app-info .app-info-content-wrapper .demo-image-wrapper{
        position: absolute;
        top: -40px;
    }
}